---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
  </header>

  <article>
    <div class="funding-cv">
      {% for item in site.data.funding %}
        <div class="funding-entry">
          <div class="funding-main">
            <div class="funding-title-line">
              {% if item.role != "" %}
                <span class="funding-role">{{ item.role }}</span>{% if item.title != "" %}, {% endif %}
              {% endif %}
              <span class="funding-title">{{ item.title }}</span>
            </div>

            {% if item.institution != "" or item.sponsor != "" %}
              <div class="funding-org-line">
                {% if item.institution != "" %}
                  <span>{{ item.institution }}</span>
                {% endif %}
                {% if item.sponsor != "" %}
                  {% if item.institution != "" %}; {% endif %}
                  <span>{{ item.sponsor }}</span>
                {% endif %}
              </div>
            {% endif %}

            {% if item.pi != "" or item.note != "" %}
              <div class="funding-extra-line">
                {% if item.pi != "" %}
                  <span>PI: {{ item.pi }}</span>
                {% endif %}
                {% if item.note != "" %}
                  {% if item.pi != "" %}<span class="funding-sep">•</span>{% endif %}
                  <span>{{ item.note }}</span>
                {% endif %}
              </div>
            {% endif %}
          </div>

          <div class="funding-meta">
            {% if item.years != "" %}
              <div class="funding-years">{{ item.years }}</div>
            {% endif %}
            {% if item.amount != "" %}
              <div class="funding-amount">{{ item.amount }}</div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </article>
</div>
